.disable {
  display: none;
}

.main a {
  border-bottom: 1px solid #aaa;
  color: inherit;
}
.main a:hover {
  border-bottom: 1px solid var(--green);
  color: black;
}

.main {
  height: auto;
  width: 90vw;
  top: 20vh;

  text-align: center;
}


.login {
  min-height: 52vh;
}

.register {
  min-height: 64vh;
}



.feed {
  display:grid;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.feed input {
  box-sizing: border-box;
}
input:focus {
  outline: none;
}

.login .flow{
  margin-top: 4vh;
}
.register .flow{
  margin-top: 2.5vh;
}

.flow {
  width: 80vw;

  font-size: 100%;

  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;

  background: none;

  border-radius: 27px;
  border: 1px solid #aaa;

  transition: 0.4s;
  font-family: 'Roboto', sans-serif;
}
.flow:hover {

  border:  2px solid var(--green);
  color: var(--green);
}



#remember {
  position: relative;
  margin-top: 4vh;
}
#cguConfirm {
  position: relative;
  margin-top: 2vh;
}

label {
  display: block;
  text-align: none;
  padding: none;
}
