main {
  text-align: center;
  align-items: center;
  justify-content: center;
}

.user-info
{
  float: right;
}
.user-info #user_name
{
  float: right;
  padding-left: 10px;
}
.user-info #post_date
{
  margin: 0;
  font-size: .75em;
}

.idea
{
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 25px;
  padding-bottom: 50px;
  border-radius: 5px;

  box-shadow: var(--shdw-idea);

  text-align: left;
}

.idea h3
{
  font-size: 110%;
  padding-bottom: 5px;
  border-bottom: 2px solid var(--green);
  margin-top: 50px;
}

.idea_info {
  display: flex;
  align-items: center;
}
.idea_info #heart {
  color: red;
}

/*
.idea_info #like {
    border: none;
    background: none;
    background-image: url("../../../public/images/heart.svg");
    background-size: contain;
    background-repeat: no-repeat;
    margin: 5px;
    height: 20px;
    width: 20px;
}*/

.idea_info i
{
  font-style: normal;
  font-size: 1.2em;
  font-weight: bold;
}

.idea_info #likes
{
  color: var(--red);
  border-right: 2px solid var(--gray);
  padding-right: 10px;
}
.idea_info #adhesions
{
  color: var(--blue);
  padding-left: 10px;
}
#adherer
{
  padding: 15px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 110%;
  font-weight: bold;

  color: var(--white);
  background-color: var(--blue);
  box-shadow: var(--shdw-btn);
  border: none;

  border-radius: 6px;
  cursor: pointer;
  transition: .3s;
}
#adherer:active
{
  box-shadow: none;
}


.share
{
  margin-bottom: 100px;
}
.share h3
{
  margin-left: 10px;
}
.share a
{
  height: 50px;
  margin: 10px;
  padding: 10px;
  box-shadow: var(--shdw-df);
  color: var(--white);
  border-radius: 5px;
  font-size: 1.2em;
}
.share a:hover
{
  box-shadow: var(--shdw-df-hov);
}
.share #twitter
{
  background-color: #33CCFF;
}
.share #mail
{
  background-color: #DD4B39;
}
.share #facebook
{
  background-color: #3B5998;
}
