.debug {border: 1px solid black;}

*, *:focus,*:hover {outline: none;}
.center {
  text-align: center;
}
textarea {
  resize: none;
}


.form {
  margin-bottom: 100px;
  width: 90vw;
  min-height: 80vh;


  font-size: 100%;

  text-align: center;
  border-radius: 10px;
}




.form textarea, .form input {
  width: 80vw;
  margin: 1vw;

  font-size: 100%;
  color: #333;
  font-family: Arial;

  padding: 10px;

  background: #f3f3f3;

  outline: none;
  border-radius: 5px;
  border: none;
}
.form textarea:focus, .form input:focus {
  border: var(--border-01);
}


.form input[type="submit"] {
  width: auto;
  padding-left: 15px;
  padding-right: 15px;
  background: var(--blue);
  color: white;
  border: none;
}
.form input[type="submit"]:hover {
  box-shadow: var(--shdw-btn);
}
