.disable {
  display: none;
}

.main a {
  border-bottom: 1px solid #aaa;
  color: inherit;
}
.main a:hover {
  border-bottom: 1px solid var(--green);
  color: black;
}

h2 {  text-align: center;}

.main {

  width: 90vw;


  align-items: center;
  justify-content: center;
  text-align: center;
}




.feed {
  display:grid;
  margin-bottom: 60px;
}

.feed input {
  box-sizing: border-box;

}
input:focus {
  outline: none;
}


.flow {
  width: 90vw;
  font-size: 100%;


  padding: 15px;
  padding-top: 5px;
  padding-bottom: 10px;

  background: none;

  border: none;
  border-bottom: 1px solid #aaa;

  align-items: center;
  justify-content: center;

  transition: 0.4s;
  font-family: 'Roboto', sans-serif;
}
.flow:hover {
  border-bottom: 2px solid var(--green);
  color: var(--green);
}

.button, .button:hover {
  border: none;
}

span {
  margin-top: 1vh;
}


label, img {
  text-align: center;
  padding: none;
  justify-self: center;
}


#reset-password input[type="password"] {
  height: 0;
  padding: 0;
  border: none;
}

#reset-password:hover > input[type="password"] {
  height: 6.5vh;
  padding-top: 1.5vh;
  padding-bottom: 1.5vh;
  padding-left: 2vh;
  padding-right: 2vh;

  border-bottom: 1px solid #aaa;
}

#save {
  margin-top: 2vh;

  width: auto;
  padding: 10px;

  font-size: 100%;

  border-radius: 10px;
  border:var(--border-01) ;
}
#save:hover {
  border:  2px solid var(--blue);
  color: var(--blue);
}

.action {
  margin-top: 50px;
}
.action a, .action a:hover {
  border: none;
}

.light {
  padding: 10px;
  border-radius: 7px;
  border: var(--border-01);
}

.light:active {
  border: var(--border-01-blue);
}
