:root
{
  --header-h: 50px;
  --pos-round: calc( ( var(--header-h) / 2 ) - ( var(--header-h) / 20 ) ); /* Ratio qui donne 4.5vh pour 10vh  --  Pour le search et connect*/
  --pos-logo: calc( var(--header-h) / 10 );
}
.hidden { display: none; }
header .head
{
	position: fixed;
	height: 50px;
	width: 100vw;
	top: 0;

	background-color: var(--white);
	z-index: 10;
	box-shadow: var(--shdw-df);
	text-align: center;
}
header .head:hover
{
	box-shadow: var(--shdw-df-hov);
}

header .head #logo
{
  position: relative;
  top: var(--pos-logo);
  left: var(--pos-logo);
  margin-right: 1vw;

  height: calc(var(--pos-logo) * 8);
  width: calc(var(--pos-logo) * 8);

  user-select: none;

  background: white;
  float: left;
}
header .head #myecoidea
{
  margin-top: 0;
  margin-right: 1vw;
  padding-right: 15px;


  font-size: 1.7em;
  font-family: 'Sriracha', cursive ;

  line-height: var(--header-h);
  color: var(--green);
  cursor: pointer;
  user-select: none;
}

header .menu
{
	position: fixed;
	height: 50px;
	width: 100vw;
	bottom: 0;

	background-color: var(--white);
	box-shadow: var(--shdw-df-bot);
	text-align: center;
	z-index: 10;
}
header .menu:hover
{
	box-shadow: var(--shdw-df-bot-hov);
}
header .menu i
{
	color: var(--gray);
	font-size: 30px;
	margin: 10px;
	padding-left: 20px;
	padding-right: 20px;
}
