#menu
{
	position: fixed;
	height: 50px;
	width: 100vw;
	bottom: 0;

	background-color: var(--white);
	box-shadow: var(--shdw-df-bot);
	text-align: center;
	z-index: 10;

  padding: 0;
  margin: 0;
}
#menu:hover
{
	box-shadow: var(--shdw-df-bot-hov);
}

#menu i
{
	color: var(--gray);
	font-size: 30px;
	padding: 10px;
  padding-left: 35px;
	padding-right: 35px;
  transition: .2s;
}
#menu a:active > i {
  color: var(--green);
}

.search-box {
  width: auto;
  height: auto;
}

.search-box #search-txt{
  width: 0;
}

.search-box {

}
